
.comics_item {
    box-shadow: 0 0 20px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 10px;
    font-size: 16px;
    background-color: #ffffff;
}

.comics_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}